extends ../layouts/main-layout.pug

block style 
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    .login-form
        if error
            .user-message.user-message--error
                p=error
        form(action="/auth/reset-password", method="post")
            input(type="hidden", name="_csrf", value = csrfToken)
            input(type="hidden", name="userId", value = userId)
            input(type="hidden", name="token", value=token)
            .form-control
                label(for="password") Password
                input#password(type="password", name="password")
            .form-control
                label(for="confirmPassword") Confirm Password
                input#confirmPassword(type="password", name="confirmPassword")
            button.btn(type="submit") Update Password